.page.theme_dark {
  --color-bg: #000028;
  --color-button-hover: rgba(255, 0, 112, 0.4);
  --color-text-primary: #f1b2ce;
  --color-text-secondary: var(--color-bg);
  --color-accent: #ff0070;
  --color-brand: #db00ff;
  --cover-bg-image: url(../images/cover-image-dark.png);
}

.page.theme_dark .content__title {
  color: var(--color-accent);
}
