.page.theme_dark {
  --color-bg: #000028;
  --color-accent: #ff0070;
  --color-text-content-heading: #ff0070;
  --color-text-primary: #f1b2ce;
  --color-text-secondary: #000028;
  --color-button-primary: #ff0070;
  --color-button-hover: rgba(255, 0, 112, 0.4);
  --color-brand: #db00ff;
  --color-brand-shadow: #ff0070;
  --color-brand-decor: #ff0070;
  --cover-bg-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  .page {
    --color-bg: #000028;
    --color-accent: #ff0070;
    --color-text-content-heading: #ff0070;
    --color-text-primary: #f1b2ce;
    --color-text-secondary: #000028;
    --color-button-primary: #ff0070;
    --color-button-hover: rgba(255, 0, 112, 0.4);
    --color-brand: #db00ff;
    --color-brand-shadow: #ff0070;
    --color-brand-decor: #ff0070;
    --cover-bg-image: url(../images/cover-image-dark.png);
  }
}
