/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --font-size-brand: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --content-inline-padding: 10px;
  --color-bg: #fff1f7;
  /* --color-button-hover: rgba(255, 0, 112, 0.4); */
  --color-text-primary: #353430;
  --color-text-secondary: var(--color-text-primary);
  --color-accent: #ff8dcb;
  --color-brand: #ffc2e6;
  --cover-bg-image: url(../images/cover-image-light.png);
}
