.page {
  max-inline-size: calc(1440px - var(--content-inline-padding));
  font-family: var(--font-family-primary);
  color: var(--color-text-primary);
  background-color: var(--color-bg);
  background-image: var(--cover-bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title-decor {
  background-color: var(--color-accent);
  color: var(--color-text-secondary);
  font-size: var(--font-size-base);
  font-weight: 700;
  line-height: 130%;
}

.title-decor-lite {
  font-weight: 400;
}

.link-decor {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-accent);
  transition: box-shadow 0.2s ease-in-out;
}

.link-decor:hover {
  box-shadow: 0 1px currentColor;
}

.decorated-zone::before,
.decorated-zone::after {
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  content: '';
}

.decorated-zone::before {
  inset-block-start: var(--content-inline-padding);
  inset-inline-end: var(--content-inline-padding);
  border-block-start: 1px solid var(--color-brand-decor);
  border-inline-end: 1px solid var(--color-brand-decor);
}

.decorated-zone::after {
  inset-inline-start: var(--content-inline-padding);
  inset-block-end: var(--content-inline-padding);
  border-block-end: 1px solid var(--color-brand-decor);
  border-inline-start: 1px solid var(--color-brand-decor);
}

/* header */

.header {
  position: relative;
  margin-block-end: 40px;
  padding: var(--content-inline-padding);
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-content: space-between;
}

.header__bulb {
  position: absolute;
  inset-block-start: calc(var(--content-inline-padding) + 4px);
  inset-inline-end: calc(var(--content-inline-padding) + 8px);
  text-transform: uppercase;
  color: var(--color-accent);
}

.header__bulb::after {
  content: '';
  margin-inline-start: 10px;
  display: inline-block;
  inline-size: 12px;
  block-size: 12px;
  border-radius: 50%;
  background-color: var(--color-accent);
  box-shadow: 0 0 4px 2px var(--color-accent);
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0 13px;
  block-size: 26px;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  text-align: center;
  font-size: var(--font-size-base);
  line-height: 100%;
  color: var(--color-button-primary);
  cursor: pointer;
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  outline: 1px solid var(--color-button-hover);
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
  user-select: none;
}

.header__title {
  justify-self: start;
  font-size: var(--font-size-brand);
  font-weight: 700;
  font-style: normal;
  color: var(--color-brand);
  text-shadow: 4px 4px 0 var(--color-brand-shadow);
  line-height: 82.5%;
}

.header__description {
  justify-self: end;
  align-self: center;
  display: flex;
  flex-direction: column;
  line-height: 130%;
}

/* main */

.content {
  padding: 0 var(--content-inline-padding);
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.content__section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content__title {
  min-inline-size: var(--content-heading-block-size);
  color: var(--color-text-content-heading);
  font-size: var(--font-size-base);
  font-weight: 700;
}

.content__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.card_extended-gap {
  gap: 20px;
}

.card__title {
  text-align: left;
}

.card__description {
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: 130%;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery__images-picture {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* footer */

.footer {
  position: relative;
  margin-block-start: 40px;
  padding: var(--content-inline-padding);
  block-size: 100vh;
  min-block-size: 667px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  font-size: var(--font-size-brand);
  font-weight: 700;
  font-style: normal;
  color: var(--color-brand);
  text-shadow: 2px 2px 0 var(--color-brand-shadow);
  line-height: 82.5%;
}

/* adaptive */

@media screen and (width >= 768px) {
  .page {
    --content-inline-padding: 20px;
    --font-size-brand: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    margin-block-end: 60px;
  }

  .header__title {
    position: relative;
    inset-inline-end: var(--content-inline-padding);
    inline-size: calc(100% + (var(--content-inline-padding) * 2));
  }

  .header__description {
    max-inline-size: calc(50vw - var(--content-inline-padding));
  }

  .content {
    gap: 80px;
  }

  .content__section:not(.newspaper-style-content) {
    grid-template-columns: min-content 1fr;
    gap: 20px;
  }

  .content__section.newspaper-style-content .content__title {
    min-inline-size: unset;
    max-inline-size: calc(
      var(--content-heading-block-size) - var(--content-inline-padding)
    );
  }

  .gallery__images-picture_sunset {
    grid-area: sunset;
  }

  .gallery__images-picture_ice-cream {
    grid-area: ice-cream;
  }

  .gallery__images-picture_tape {
    grid-area: tape;
  }

  .gallery__images-picture_books {
    grid-area: books;
  }

  .gallery__images-picture_street {
    grid-area: street;
  }

  .gallery {
    gap: 20px;
  }

  .gallery__images {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-template-areas:
      'sunset sunset ice-cream'
      'tape books ice-cream'
      'tape street street';
  }

  .footer {
    margin-block-start: 60px;
  }
}

@media screen and (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content__section.newspaper-style-content .content__cards {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(3, 1fr);
  }

  .content__section.newspaper-style-content .card__title {
    align-self: center;
  }

  .content__section.newspaper-style-content .content__title {
    max-inline-size: var(--content-heading-block-size);
  }
}
